* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pd-top-30{
    padding-top: 30px;
}

$nav-size: 100px;
$content-width: 1200px;

nav{
    height: $nav-size;
    background-color: #66d9e8; //Cyan 03
}

footer{
    height: $nav-size;
    background-color: #66d9e8; //Cyan 03
}

#content{
    height: calc(100vh - 2 * $nav-size);
    // background-color: #e7f5ff; //Blue 00
    width: 100vw;

    display: flex;
    justify-content: center;
}

#content-container {

    width: $content-width;
    background-color: #dee2e6;
}
// NAV ///////////////////////////////////////////////////

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-size: 36px;
        margin: 0 48px;
        cursor: pointer;
    }
}

// FOOTER ///////////////////////////////////////////////////
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

// HERO ///////////////////////////////////////////////////

.hero {
    margin: 30px;
    display: flex;
    padding: 30px;
}

.hero-img-container {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 25px;
}

.hero-img{
    width: 250px;
    height: 250px;
}

.hero-text {
    // background-color: green;
    width: 50%;
    text-align: center;
    padding: 40px 12px 0px;

}

.hero-text>p {
    padding-top: 10px;
    line-height: 1.5;
}

.hero-text {
    width: 50%;
    text-align: center;
    padding: 0 12px ;
    h1 {
        margin-bottom: 20px;
        font-size: 64px;
    }
    img {
        width: 450px;
        height: 450px;
        margin-top: 20px;
    }
}