* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pd-top-30{
    padding-top: 30px;
}

.grid--3-cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.mrg-right{
    margin-right: auto !important;
}

h1,
.restaurant-name{
    font-size: 64px;
    margin-bottom: 30px;
    text-align: center;
}

.restaurant-name{
    margin: 0;
    padding: 0;
    padding-left: 36px;
    font-weight: bold;
}

$nav-size: 100px;
$content-width: 1200px;

nav{
    height: $nav-size;
    background-color: #66d9e8; //Cyan 03
}

footer{
    height: $nav-size;
    background-color: #66d9e8; //Cyan 03
}

#content{
    min-height: calc(100vh - 2 * $nav-size);
    width: 100vw;

    display: flex;
    justify-content: center;
}

#content-container {

    width: $content-width;
    background-color: #dee2e6;
}
// NAV ///////////////////////////////////////////////////

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-size: 36px;
        margin: 0 48px;
        cursor: pointer;
    }
}

// FOOTER ///////////////////////////////////////////////////
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

// HERO ///////////////////////////////////////////////////

.hero {
    margin: 30px;
    display: flex;
    padding: 30px;
}

.hero-img-container {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 25px;
}

.hero-img{
    width: 250px;
    height: 250px;
}

.hero-text {
    // background-color: green;
    width: 50%;
    text-align: center;
    padding: 40px 12px 0px;

}

.hero-text>p {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.5;
}

.hero-text {
    width: 50%;
    text-align: center;
    padding: 0 12px ;
    h1 {
        margin-bottom: 20px;
        font-size: 64px;
    }
    img {
        width: 450px;
        height: 450px;
        margin-top: 20px;
    }
}


// MENU ///////////////////////////////////////////////////

.menu{
    padding: 50px;
    h2{
        font-size: 40px;
        margin-bottom: 36px;
    }
    h3{
        font-size: 30px;
    }
    
}

.sushi-grid,
.grilled-grid,
.wine-grid{
    column-gap: 50px;
    row-gap: 24px;
    justify-items: center;
    text-align: center;
    padding-bottom: 64px;
    img{
        width: 100%;
        height: 100%;
    }
}

// CONTACT ///////////////////////////////////////////////////

.contact{
    padding: 50px;
}

.person-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    div{
        text-align: center;
    }
    img{
        padding: 20px 20px 40px;
        width: 400px;
        height: 400px;
    }
    h2{
        font-size: 36px;
        margin-top: 48px;
        padding-bottom: 12px;
    }
    p{
        font-size: 20px;
        padding-bottom: 8px;
    }
}

